db.*
udaan.db
*.pdf
*.log
venv/
.venv/
__pycache__
udaan_project/__pycache__/*
blood_request/__pycache__/*
static/__pycache__/*
templates/__pycache__/*
.env

# AI Chatbot specific ignores
ai_chatbot/.env
ai_chatbot/venv/
ai_chatbot/chatbot.db
ai_chatbot/__pycache__/

# Common Ignores
node_modules/
.venv/
.DS_Store
**/.DS_Store
db.sqlite3
staticfiles/